body {
  margin: 0em;
  padding: 0em;
  font-size: 1em;
  font-family: 'Noto Sans', sans-serif;
  margin:0;
  height: 100%;
  background-image: url(../img/background.jpg);
}

body h1{
  box-sizing: border-box;
  background-color: #76639b;
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 1em;

}

.unslider img {
  max-width: 80%;
}

nav {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

#menu {
  display: none;
  /*padding: 0;*/
  /*width: 50%;*/
  /*margin: 0 auto;*/
}
nav:after {
  content: '';
  display: block;
  clear: both;
}

#logo {
  float: left;
  padding: 10px;
  width: 100px;
}

#logo img {
 max-width: 100%;
  
}

#footprint{
 /* display: none;*/
}

#hamburger-image{
  float: right;
  padding-right: 5px;
}

#facebook {
  position: absolute;
  right: 50px;
  top: 3%;
}

#twitter {
  position: absolute;
  right: 50px;
  top: 50%;
}

#facebook img,
#twitter img{
  border-radius: 5px 20px 5px;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#131313;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

#pricing-menu{
  background: #2f184e;
  width: 100%;
}



button.accordion {
    background-color: #afb8e1;
    color: #2F184e;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: center;
    border: .2em ridge #f2c9c7;
    outline: none;
    transition: 0.4s;
    font-size: 1.5em;
    margin-left: 10%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #f2c9c7
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 4px;
    background-color: #76639b;
    display: none;
    border: .2em ridge #f2c9c7;
    width: 79%;
    margin-left: 10%;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block !important;
}

div.panel table{
  border: .3em ridge #2f184e;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #f2c9c7;
  color: #2F184e;
}

div.panel th, td{
  text-align: center;
  padding:  1em 3em 1em 3em;
  margin: 0 auto;
}

#map {
  height:100%;
}

#tac{
  background-color: yellow;
  width: 100%;
}

.border{
  border: 5px ridge black;
  border-radius: 15px;
}

#tac p{
  text-align: justify;
  padding: 15px;
  color: white;
}

#contact{
  background-color: red;

}

form{
  border size: border-box;
  padding: 10px;
  width: 85%;
  background-color: #b3d3ec;
  margin: 0 auto;
  margin-bottom: 5px;
}

form label{
  font-size: 16px;
   font-weight: bold;
}

input[type="text"]{
  background-color: white;
  display: block;
  width: 95%;
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
}

input[type="email"]{
  background-color:white;
  display: block;
  width: 95%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#details{
  background-color: green;
  width: 95%;
  border-size: border-box;
  border: 5px ridge black;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 5px;
}

#details h2{
  font-size: 20px;
  text-align: center;
}

.footer-details{
  margin: 0 auto;
  border: 5px ridge black;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

.footer-details a{
  text-decoration: none;
}



#areas li a{
  text-decoration: none;
  background-color: red;
}

footer h2{
  text-align: center;
  font-size: 20px;
}









@media all and (min-width: 600px) {

  #logo{
    /*width:  100px;*/
    /*margin-right: 10px;*/
  }

  nav {
    margin: 0 auto;
    
  }

  .hamburger {
    display: none;
  }

  #menu {
    width: 80%;
    padding-left: 0;
    display: block;
    float: left;
    text-align: center;
  }

  #menu li {
    box-sizing: border-box;
    display: inline-block;
    color: white;
    padding: 0 10px;
    font-size: 1em;
    height: 100px;
    line-height: 100px;
    text-decoration: none;
  }

  #menu li a{
    text-decoration: none;
    color: #b3d3ec;
  }

  #menu li:hover {
    background-image: url(../img/footprint.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
  }

  #facebook {
    position: absolute;
    top: 3%;
    border-radius: 5px 20px 5px;
    right: .6%;
  }

  #twitter {
    position: absolute;
    top: 50%;
    border-radius: 5px 20px 5px;
    right: .6%;
  }

.unslider img {
  max-width: 100%;
}

input[type="text"]{
  background-color: #afb8e1;
  display: inline-block;
  width: 50%;
  margin-left: 32px;
}

input[type="email"]{
  background-color: #afb8e1;
  display: inline-block;
  width: 50%;
}



@media all and (min-width: 878px) {

  
  #menu li {
   
    font-size: 1.8em;
  }

  #hamburger {
    display: none;
  }

  
  



@media all and (min-width: 930px) {

  
}

.clearfix:after, .clearfix:before {
  content: block;
  clear: both;
}














